.arrow-top {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  font-size: 2rem;
  border: none;
  border-radius: 50%;
  line-height: 0;
  height: 5rem;
  width: 5rem;
  color: $darkBlue;
  cursor: pointer;
}