.arrow-top {
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 2;

  &__background {
    position: absolute;
    z-index: 2;
    width: 8rem;
    height: 8rem;
    background: white;
    border-radius: 50%;
  }

  canvas {
    position: absolute;
    z-index: 1;
  }

  i {
    z-index: 3;
  }
}