* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  font-size: 10px;
}

::-webkit-scrollbar-thumb {
   width: 100px;
}

::-webkit-scrollbar {
  width: 1rem;
  background: rgba($color: $darkBlue, $alpha: 0.7);
}
::-webkit-scrollbar-thumb {
  border-radius: .5rem;
  background: $blue;
}